.container {
  text-align: center;
  margin-top: 50px;
  flex: 1;
}

.timer-container {
  /* margin-left: 500px;
  margin-right: 500px; */
  margin: 20%;
}

.timer-container.green {
  background-color: #5ce773;
}

.timer-container.blue {
  background-color: #5ca8e7;
}

#countdown {
  font-size: 48px;
}

#endCountdown {
  font-size: 48px;
}

/* Dashed border */
hr.dashed {
  border-top: 3px dashed #7a7a7a;
}

.border {
  border-width:3px;
  border-style:solid;
 }

 .border.green {
  border-color:#288e39;
 }

 .border.blue {
  border-color:#3f80b5;
 }