.container {
  text-align: center;
  margin-top: 50px;
  flex: 1;
}

.timer-container {
  margin-left: 30%;
  margin-right: 30%;
}

.timer-container.green {
  background-color: #5ce773;
}

.timer-container.blue {
  background-color: #5ca8e7;
}

#countdown {
  font-size: 48px;
}

#endCountdown {
  font-size: 48px;
}

.border {
  border-width:2px;
  border-style:solid;
 }

 .border.green {
  border-color:#288e39;
 }

 .border.blue {
  border-color:#3f80b5;
 }

 button {
  padding: 5px 5px;
  text-align: center;
  font-size: 17px;
  margin: 15px 2px 1px;
  background-color: #e7785cb7
}