.container {
  text-align: center;
  margin-top: 50px;
}

#countdown {
  font-size: 48px;
}

#endCountdown {
  font-size: 48px;
}

/* Dashed border */
hr.dashed {
  border-top: 3px dashed #bbb;
}

.borderexample {
  border-width:3px;
  border-style:solid;
  border-color:#287EC7;
 }